<?xml version="1.0" encoding="utf-8" ?>
<nlog
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
            xsi:type="ColoredConsole"
            name="logconsole"
            layout="[${level:uppercase=true}] ${message}"/>
    
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/${date:cached=true:format=yy-MM-dd_HH.mm.ss}.log"
            layout="[${level:uppercase=true}] ${longdate} | ${logger} :: ${message} ${when:when=level>=LogLevel.Warn:inner=${newline}${exception}\:${newline}${stacktrace}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Fatal" writeTo="logconsole" />
  </rules>
</nlog>
